################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PickAPod/.vs/PickAPod/CopilotIndices/17.12.53.23981
/PickAPod/.vs/ProjectEvaluation
