################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/pickapod/FileContentIndex/bcafdc75-7822-4423-8ed9-ceb3e4067218.vsidx
